.sprite {
    background-image: url($image-path);
    background-repeat: no-repeat;
}

.sm {
    background-image: url(#{$path}/mentorship/mentorship.svg);
    background-repeat: no-repeat;
}

.icon-msatisfaction {
    background-position: 0 0;
}

.icon-home {
    @include size(24px, 21px);
    display: block;
    background-position: -157px 0;
}

.icon-book {
    @include size(26px, 21px);
    display: block;
    background-position: 0 -36px;
}

.icon-mentor {
    @include size(24px, 25px);
    display: block;
    background-position: 0 -62px;
}

.icon-upskill {
    @include size(26px, 27px);
    display: block;
    background-position: 0 -92px;
}

.icon-watch {
    @include size(20px, 22px);
    display: block;
    background-position: -34px -35px;
}

.icon-certificate {
    @include size(18px, 24px);
    display: block;
    background-position: -257px -72px;
}

.icon-quote {
    @include size(54px, 50px);
    display: block;
    background-position: -62px -41px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.icon-upArrow {
    @include size(14px, 8px);
    display: block;
    background-position: -292px -72px;
    flex: 0 0 14px;
}

.icon-facebook {
    background-position: -127px -35px;
}

.icon-twitter {
    background-position: -159px -35px;
}

.icon-gplus {
    background-position: -193px -35px;
}

.icon-linkedin {
    background-position: -227px -35px;
}

.icon-youtube {
    background-position: -265px -35px;
}

.icon-youtube {
    background-position: -265px -35px;
}

.icon-counselling {
    background-position: -127px -75px;
}

.icon-whatsup {
    background-position: -147px -75px;
}

.icon-phone {
    background-position: -166px -75px;
}

.icon-facebook-green {
    background-position: -127px -106px;
}

.icon-twitter-green {
    background-position: -150px -106px;
}

.icon-linkedin-green {
    background-position: -173px -106px;
}

.icon-gPlus-green {
    background-position: -196px -106px;
}

.icon-location-green {
    @include size(17px, 22px);
    background-position: -234px -105px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 4px;
    transform: scale(0.8);
}

.icon-download {
    @include size(20px, 21px);
    background-position: -259px -107px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-rightJob {
    @include size(66px, 58px);
    background-position: 0 -145px;
}

.icon-careerGrey {
    @include size(70px, 70px);
    background-position: -77px -141px;
}

.icon-satisfaction {
    @include size(62px, 63px);
    background-position: -161px -138px;
}

.icon-report {
    @include size(65px, 65px);
    background-position: -234px -141px;
}

.icon-knowledge {
    @include size(65px, 65px);
    background-position: 0 -223px;
}

.icon-skills {
    @include size(65px, 65px);
    background-position: -76px -218px;
}

.icon-mMatisfaction {
    background-position: 0 0; 
}

.icon-synergy {
    background-position: -66px 0; 
}

.icon-reduces {
    background-position: -134px 0; 
}

.icon-career-growth {
    background-position: -332px 0; 
}

.icon-faster {
    background-position: -443px 0; 
}

.icon-creates {
    background-position: 0 -126px; 
}

.icon-discovery {
    background-position: -114px -126px;
}

.icon-ifThenLess {
    background-position: -229px -126px;
}

.icon-agreement {
    background-position: -342px -126px;
}

.icon-liveOut {
    background-position: -480px -126px;
}

.icon-vision {
    @include size(60px, 60px);
    display: inline-block;
    background-position: -154px -225px;
    margin: 20px 0;
}

.icon-mission {
    @include size(60px, 60px);
    display: inline-block;
    background-position: 0 -292px;
    margin: 20px 0;
}

.icon-beliefs {
    @include size(60px, 60px);
    display: inline-block;
    background-position: -223px -224px;
    margin: 20px 0;
}

.icon-build {
    @include size(70px, 70px);
    display: inline-block;
    background-position: -79px -241px;
    margin: 20px 0;  
}

.icon-enchance {
    @include size(70px, 70px);
    display: inline-block;
    background-position: -176px -241px;
    margin: 20px 0;  
}

.icon-enable {
    @include size(70px, 70px);
    display: inline-block;
    background-position: -286px -241px;
    margin: 20px 0;  
}


.icon-literacy {
    @include size(25px, 27px);
    display: inline-block;
    background-position: -368px -246px;
}

.icon-hackathons {
    @include size(30px, 30px);
    display: inline-block;
    background-position: -369px -283px;
}

.icon-interview {
    @include size(30px, 30px);
    display: inline-block;
    background-position: -402px -246px;
}

.icon-close {
    @include size(26px, 26px);
    display: block;
    background-position: -209px -312px;
}

.icon-login-mobile {
    @include size(20px, 20px);
    display: flex;
    margin-left: auto;
    background-position: -36px -360px;
}


// Mobile 

.icon-mobile-date {
    background-position: -64px -361px;  
}

.icon-mobile-star {
    background-position: -85px -361px;  
}

.icon-mobile-time {
    background-position: -105px -361px;  
}

.icon-mobile-certificate {
    background-position: -126px -361px;  
}

.icon-mobile-loc {
    background-position: -147px -361px;
    position: relative;
    top: -3px;
}