// Contents
//
// Navbar
// Navbar brand
// Navbar nav
// Navbar text
// Navbar divider
// Responsive navbar
// Navbar position
// Navbar themes


// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  padding: 0.5rem $navbar-padding-x;

  // Because flex properties aren't inherited, we need to redeclare these first
  // few properties so that content nested within behave properly.
  > .container,
  > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}


// Navbar brand
//
// Used for brand, project, or site names.

.navbar-brand {
  @include size(141px, 28px);
  background-image: url($image-path);
  text-indent: -9999px;
  background-position: -2px -1px;
  transform: scale(.7);
}

@include media-breakpoint-up(lg) {
  .navbar-brand {
    transform: scale(1);
  }
}


// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding: 1rem;
    border-bottom: 3px solid $white;
    cursor: pointer;

    &:hover{
      border-bottom-color: $primary;
    }
  }

  .dropdown-menu {
    position: static;
    float: none;
  }
}


// Navbar text
//
//

.navbar-text {
  display: inline-block;
  padding-top: $nav-link-padding-y;
  padding-bottom: $nav-link-padding-y;
}


// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// When collapsed, prevent the toggleable navbar contents from appearing in
// the default flexbox row orientation. Requires the use of `flex-wrap: wrap`
// on the `.navbar` parent.
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  // For always expanded or extra full navbars, ensure content aligns itself
  // properly vertically. Can be easily overridden with flex utilities.
  align-items: center;
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
  padding: 0;
  @include font-size($navbar-toggler-font-size);
  line-height: 1;
  background-color: transparent; // remove default button style
  border: 0 none;
  // margin-right: 10px;

  @include hover-focus {
    text-decoration: none;
  }
}

// Keep as a separate element so folks can easily override it with another icon
// or image file as needed.
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top: 5px;
}

// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        > .container,
        > .container-fluid {
          padding-right: 0;
          padding-left: 0;
        }
      }

      @include media-breakpoint-up($next) {
        flex-flow: row nowrap;
        justify-content: flex-start;

        .navbar-nav {
          flex-direction: row;

          .dropdown-menu {
            position: absolute;
          }

          .nav-link {
            padding-right: $navbar-nav-link-padding-x;
            padding-left: $navbar-nav-link-padding-x;
          }
        }

        // For nesting containers, have to redeclare for alignment purposes
        > .container,
        > .container-fluid {
          flex-wrap: nowrap;
        }

        .navbar-collapse {
          display: flex !important; // stylelint-disable-line declaration-no-important

          // Changes flex-bases to auto because of an IE10 bug
          flex-basis: auto;
        }

        .navbar-toggler {
          display: none;
        }
      }
    }
  }
}


// Navbar themes
//
// Styles for switching between navbars with light or dark background.

// Dark links against a light background
.navbar-light {
  box-shadow: 0 0 10px rgba($black, .2);
  position: relative;
  z-index: 1;

  .navbar-nav {

    .nav-item {
      &:not(:last-child) {
        margin-right: 1.25rem;
      }
    }
    .nav-link {
      color: $navbar-light-color;

      @include hover-focus {
        color: $navbar-light-hover-color;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .login-link {
      @include border-radius(30px);
      border: 1px solid $primary;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: .3rem;
      padding-bottom: .3rem;
      color: $primary;

      &:hover {
        background-color: $primary;
        color: $white;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-light-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-position: 0 -356px;
  }

  .navbar-text {
    color: $navbar-light-color;
    a {
      color: $navbar-light-active-color;

      @include hover-focus {
        color: $navbar-light-active-color;
      }
    }
  }
}


.navbar-nav {
    .dropdown.show{
      position: static;

      .dropdown-menu {
        display: flex;
        flex-direction: row;
        border-radius: 0px;
        // width: 290px;
        left: auto;
        right: auto;
        margin: 0;
        // padding:15px 0 0;
        // box-shadow: inset 0 13px 10px rgba($black, .2);
        // box-shadow: 0px 15px 15px rgba($black, .2);
        // border: 0 none;


        li {
          margin-bottom: 7px;
        }

        &::before {
          content: '';
          background-image: url(#{$path}/top-bg.jpg);
          background-repeat: repeat;
          position: absolute;
          width: 100%;
          height: 16px;
          z-index: 1;
          top: 0;
        }

        .menuWrap {
          padding-top: 30px;
          padding-bottom: 50px;

          &--white {
            background-color: $white;
          }

          &--grey {
            background-color: $gray-300;
          }
        }
      }
    }


    .main-menu {
      text-align: left;
      font-weight: $font-weight-bold;

      li{
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }


      .dropdown-toggle.collapsed {
        color: $black-8;
      }

      a {
        color: $black-8;
        cursor: pointer;
      }

      .sub-menu {
        color: $black-8;
        font-size: $font-size-sm;
        font-weight: $font-weight-normal;
        padding-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

        li{
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }

        a {
          color: $black-5;
          cursor: pointer;
        }
      }

    }
}


.courses-dropdown {

  .dropdown-menu {
    border: 0 none;
    background-color: transparent;
    padding: 1rem 0;
    z-index: 1;
    position: relative;
  }

  .nav-tabs {
    min-width: 250px;
    display: flex;
    flex-direction: column;

    background-color: $white;
    box-shadow: 0px 15px 10px rgba($black, .1);
    
  }
}

.courses-tabs {
  border: 0 none;
  font-size: 14px;

  .nav-tabs {
    border-bottom: 0 none;

    .nav-item {
      margin-right: 0 !important;
      position: relative;

      &::after {
        content: '';
        display: inline-block;
        border-bottom: 0.3em solid transparent;
        border-top: 0.3em solid transparent;
        border-left: 0.3em solid;
        height: 0;
        width: 0;

        position: absolute;
        top: 11px;
        right: 15px;
        color: $primary;
      }


      .nav-link {
        border-radius: 0;
        border: 0 none;
        padding:5px 15px;
        color: $black-5;

        &:hover {
          color: $primary;
          background-color: $gray-300;
        }
      }
    }
  }

  .menu-tab-content {
    flex: 1;
    background-color: $white;
    box-shadow: 0px 15px 10px rgba($black, .1);
    min-width: auto;
    position: relative;

    > .menu-tab-pane {
      padding: 15px;
      max-width: 45rem;
      background-color: $white;
      height: 441px;
    }

    h2 {
      color: $black-5;
      font-weight: $font-weight-normal;
      font-size: $font-size-md;
      margin-bottom: 15px;
    }

    .submenu-wrap {
      display: flex;
      height: 93.3%;

      ul{
        &:not(:last-child) {
          margin-right: 20px;
          padding-right: 20px;
          border-right: 1px solid $border-light-grey;
        }

        li {
          margin-bottom: 12px !important;
          a {
            color: $black-5;
  
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
}

.show {
  > .nav-link {
    border-bottom-color: $primary;
  }
}

.overlay {
  content: '';
  position: fixed;
  top: 72px;
  left: 0;
  background-color: rgba($black, .5);
  width: 100%;
  height: 100%;
  z-index: -1;
  display: none;

  &.show {
    display: block;
  }
}


.menu-tab-content > .menu-tab-pane {
  display: none;
}

.menu-tab-content > .active {
  display: block;
}