@mixin triangle-bottomleft($width-bottom,$width-right, $color) {
    width: 0; 
    height: 0; 
    border-bottom: ($width-bottom) solid ($color); 
    border-right: ($width-right) solid transparent;   
}

@mixin triangle-topleft($width-top, $width-right, $color) { 
    width: 0; 
    height: 0; 
    border-top: $width-top solid $color; 
    border-right: $width-right solid transparent; 
 }