

.arrow-link {
    line-height: 1.125rem;
    position: relative;
    z-index: 2;

    &::after {
        width: 14px;
        height: 10px;
        content: '';
        display: inline-block;
        background-image: url(../../images/sprite.svg);
        background-position: -209px -10px;
        position: relative;
        top: 1px;
        margin-left: 10px;
    }
}


.arrow-link-white {

    &::after {
        content: '';
        background-position: -209px -10px;
    }
}

.arrow-link-blue {

    &::after {
        content: '';
        background-position: -189px -10px;
    }
}