.circle-tick {
    font-size: $font-size-md;
    color: $white;
    font-weight: $font-weight-semi-bold;
    position: relative;
    margin: 0;
    padding: 0 0 0 1.5rem;

    @include media-breakpoint-up(md) {
        font-size: $font-size-lg;
        margin: -25px 0;
    }

    li {
        padding-left: 0;
        margin: 10px 0;
        list-style-type: disc;

        @include media-breakpoint-up(md) {
            padding-left: 60px;
            margin: 25px 0;
            list-style-type: none;
        }

        &::before {
            

            @include media-breakpoint-up(md) {
                @include size(40px, 40px);
                content: '';
                display: block;
                position: absolute;
                left: 0;
                background-image: url($image-path);
                background-position: -36px -96px;
            }
        }
    }
}

.green-tick {
    font-size: $font-size-md;
    color: $black-5;
    font-weight: $font-weight-semi-bold;
    position: relative;
    margin: -15px 0;
    padding: 0;

    li {
        padding-left: 35px;
        margin: 15px 0;
        position: relative;

        &::before {
            @include size(21px, 16px);
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 3px;
            background-image: url($image-path);
            background-position: -81px -108px;
        }
    }
}