.fs-12 {
    font-size: 0.75rem;
}

.fs-14 {
    font-size: $font-size-sm;
}

.fs-16 {
    font-size: $font-size-base;
}

.fs-18 {
    font-size: $font-size-md;
}

.fs-24 {
    font-size: $font-size-md !important;

    @include media-breakpoint-up(md) {
        font-size: $font-size-lg !important;
    }
}

.fs-32 {
    font-size: 2rem !important;
}

.fs-40 {
    font-size: $font-size-xl !important;
}

.fs-70 {
    font-size: 4.375rem !important;
    line-height: 4.375rem;
}