.beign-prepared {
    
    &__tabWrap{

        .tab-content {
            background-color: $gray-300;
            padding: 20px 0;
        }
    }
    
    &__items{
        @include border-radius(60px);
        box-shadow: $box-shadow;
        padding: 10px;


        justify-content: space-between;
        align-items: center;

        .nav-item {
            .nav-link {
                color: $black-5;
                line-height: 1.2;
                padding: 15px 30px;
                height: 68px;
                display: flex;
                align-items: center;

                @include media-breakpoint-up(md) { 
                    padding: 15px;
                }
                
                @include media-breakpoint-up(lg) { 
                    padding: 15px 20px;
                }
                
                @include media-breakpoint-up(xl) { 
                    padding: 15px 30px;
                }


                &.active {
                    @include border-radius(50px);
                    background: $primary-gradient-toRight;
                    color: $white;
                }
            }
        }
    }
    
}


.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    -webkit-perspective: 150rem;
    width: 300px;
    position: relative;
    height: 410px;

    &:not(:last-child) {
        margin-right: 20px;
    }
    
    &__side {
        height: 100%;
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transition: all .8s ease;
        overflow: hidden;

        &__front {
            background-color: $white;
            box-shadow: $box-shadow;
            border-radius: 8px;
            z-index: 1;

            // &--image {
            //     height: 60%;
            // }

            &__content {
                padding: 15px;
        
                &__head {
                    font-size: $font-size-lg;
                }
        
                &__subHead {
                    color: $black-3;
                    font-size: 1.125rem;
                    display: block;
                    font-weight: $font-weight-normal;
                    margin-bottom: 5px;
        
                    &--tag {
                        @include border-top-right-radius(3px);
                        @include border-bottom-right-radius(3px);
                        background-color: $primary;
                        padding: 1px 3px;
                        color: $white;
                        font-size: 0.625rem;
                        position: relative;
                        display: inline-block;
                        margin-left: 10px;
                        top: -2px;
        
                        &::before{
                            width: 0;
                            content: '';
                            height: 0;
                            border-right: 8px solid $primary;
                            border-top: 7px solid transparent;
                            border-bottom: 7px solid transparent;
                            position: absolute;
                            left: -8px;
                            top: 0px;
                        }
                    }
                }
        
                &--para {
                    line-height: 1.3;
                    font-size: $font-size-sm;
                    color: $black-3;
                }
        
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
        
                    display: flex;
                    justify-content: space-between;
        
                    li {
                        font-size: $font-size-sm;
                        color: $black-8;
                        flex: 0 0 40%;
        
                        padding: 0;
                        list-style: none;
        
                        display: flex;
                        justify-content: space-between;
        
                        .sprite {
                            flex: 0 0 26px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        &__back {
            box-shadow: $box-shadow;
            border-radius: 8px;
            background: $primary-gradient-rightBottom;
            transform: rotateY(180deg);

            &__content {
                padding: 20px;
                color: $white;
                height: 100%;

                a {
                    color: $white;  
                }


                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &__head {
                    font-size: $font-size-lg;
                    color: $white;
                }
        
                &__subHead {
                    font-size: 1.125rem;
                    display: block;
                    font-weight: $font-weight-normal;
                    color: $white-8;
                }
        
                &--para {
                    line-height: 1.3;
                    font-size: $font-size-sm;
                    color: $white-8;
                }
        
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    font-size: $font-size-sm;
        
                   
        
                    li {
                        margin-bottom: 10px;

                        display: flex;
                        justify-content: space-between;

                        .batch-name {
                            flex: 1;
                        }
                    }
                }
            }


        }
    }

    &:hover &__side__front {
        transform: rotateY(180deg);
    }
    
    &:hover &__side__back {
        transform: rotateY(0);
    }

    
}


.multiple-items,
.gallery,
.data-science,
analytics {
    position: relative;
    width: 100%;

    .slick-slide {
        opacity: .3;
    }
    
    .slick-active {
        opacity: 1;
    }
}


.data-science,
.analytics {
    .slick-track {
        display: flex;
        justify-content: center;
    }

    .slick-slide {
        width: 335px !important;
    }
}
