.footer {
    background-color: $primary;
    padding: 30px;
    color: $white;

    &__link {
        padding: 0;
        margin: 0 -10px;
        font-size: $font-size-sm;

        li {
            display: inline-block;
            line-height: 15px;
            margin: 5px 0;

            &:not(:last-child) {
                border-right: 1px solid #fff;
                margin-left: 10px;
                padding-right: 10px;
            }
        }
    }

    a {
        color: $white;
    }

    &__white-box {
        @include border-radius(8px);
        box-shadow: $box-shadow;
        background-color: $white;
        padding: 5px;
    }

    &__smo {
        
        a {
            display: inline-block;
            margin: 0 5px;

            i {
                @include size(30px, 30px);
                display: block;
            }

        }
        
    }

    &__bottom{
        background-color: $footer-bottom;
        margin: 0 -30px;
        color: $white-8;
        padding: 15px;

        a {
            color: $white-8;
        }

    }
}