.partners {
    background-color: $gray-300;

    &__content {
        @include border-radius(8px);
        background-color: $white;
        box-shadow: $box-shadow;
        padding: 30px 20px;
        font-size: $font-size-sm;
        color: $black-5;
        height: 270px;

        &--image {
            width: 100%;
            text-align: center;
        }

    }
}

.map {
    background-color: $white;

    &__organization {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;

        li {
            margin: 5px 15px;
        }
    }
}