.partner {
    &__tabWrap {
        @include border-radius(8px);
        box-shadow: $box-shadow;
        background-color: $white;
        padding: 15px 15px 15px 0px;
            
        display: flex;
        flex-direction: row;
    }

    &__tabItems {
        display: flex;
        flex-direction: column;

        flex: 0 0 325px;

        .active {
            border-left: 5px solid $primary;
            opacity: 1;
        }
    }

    &__link {
        display: flex;
        opacity: .3;
        cursor: pointer;
    }

    &__icon {
        flex: 0 0 23px;
        margin: 0 10px
    }

    &__tabContent {
        font-size: $font-size-sm;
        border-bottom: 1px solid $border-light-grey;
        padding-bottom: 10px;

        &--head {
            font-size: 1.125rem;
            color: $black-8;
        }

        &--para {
            color: $black-5;
            line-height: 1.3;
        }
    }

    &__content {
        position: relative;
        flex: 1;

        &::after {
            // @include size(90%, 530px);
            // @include border-top-right-radius(50%);
            // @include border-bottom-right-radius(50%);
            // content: '';
            // position: absolute;
            // top: 20px;
            // left:6%;
            // background-color: $gray-200;
        }

        .active {
            z-index: 3;
            position: relative;
        }

        &__career {
            @include size(90%, 500px);
            @include border-top-right-radius(283px);
            @include border-bottom-right-radius(283px);
            content: '';
            position: absolute;
            top: 20px;
            left:6%;
            background-color: $gray-300;
            overflow: hidden;
            padding: 30px;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &__item {
            @include border-radius(8px);
            width: 40%;
            background-color: $white;
            overflow: hidden;
            
            &:not(:last-child) {
                margin-right: 20px;
            }

            &__image {
                position: relative;
            }

            &--tag {
               @extend %tag;
               width: 94%;
               height: 44px;
            }

            &--content {
                padding: 20px 30px;
                color: $black-5;
                font-size: $font-size-sm;
            }
        }
    }
}



.border-bottom-0 {
    border-bottom: 0 none;
}

.available {
    display: flex;
    line-height: 15px;
    margin: 0;
    padding: 0;

    li {
        &:not(:last-child) {
            border-right: 1px solid $white;
            padding-right: 10px;
            margin-right: 10px;
        }
    }
}