.slick-dots {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;

    li {
        display: inline-block;
        margin: 0 5px;

        button {
            @include size(15px, 15px);
            @include border-radius(50%);
            border: 0 none;
            background-color: $gray-300;
            text-indent: -99999px;
            outline: none;
            display: inline-block;
            -webkit-appearance: none;

            &:hover {
                background-color: $primary; 
            }
        }

        &.slick-active {

            button {
                background-color: $primary; 
            }
        }
    }
}


.mobile-success-stories {
    .slick-dots {
        bottom: -50px;
        width: 100%;
        text-align: center;
    }
}