.slick-arrow {
    @include size(79px, 110px);
    display: block;
    background-color: rgba($black, .7);
    color: $white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    border: 0 none;
    transform: scale(0.5);

    @include media-breakpoint-up(md) {
        font-size: $font-size-xl;
        transform: scale(1);
    }

    &::after {
        @include size(22px, 10px);
        content: '';
        position: absolute;
        background-image: url($image-path);
    }
}

.slick-prev {
    @include border-top-right-radius(100px);
    @include border-bottom-right-radius(100px);
    left: -20px;

    @include media-breakpoint-up(md) {
        left: 0;
    }
    
    &::after {
        transform: rotate(180deg);
        background-position: -231px -10px;
        left: 25px;
    }
}

.slick-next {
    @include border-top-left-radius(100px);
    @include border-bottom-left-radius(100px);
    right: -20px;

    @include media-breakpoint-up(md) {
        right: 0;
    }

    &::after {
        background-position: -231px -10px;
    }
}

.course__slider { 
    .slick-arrow {
        @include size(14px, 10px);
        display: block;
        position: absolute;
        bottom: -20px;
        top: auto;
        z-index: 99;
        background-color: transparent;
        border: 0 none;
    
        &::after {
            @include size(14px, 10px);
            content: '';
            position: absolute;
            background-image: url($image-path);
        }
    }
    
    .slick-prev {
        right: 0;
        left: auto;
        
        &::after {
            transform: rotate(0deg);
            background-position: -265px -10px;
            right: 25px;
            left: auto;
        }
    }
    
    .slick-next {
        right: 0;
    
        &::after {
            @include size(18px, 10px);
            background-position: -288px -10px;
        }
    }
}