.success-stories {
    position: relative;

    &__left {
        width: 50%;
    }

    &__items {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__right {
        width: 50%;
        height: 530px;
    }

    &--image-shape {
        background-image: url(#{$path}default-image-success.jpg);
        @include border-top-left-radius(283px);
        @include border-bottom-left-radius(283px);
        // height: 530px;
        // width: 633px;

        @include media-breakpoint-up(lg) {
            height: 430px;
            width: 533px;
             
        }
        
        @include media-breakpoint-up(xl) {
            height: 530px;
            width: 633px;

        }
    }

    &__slider {
        @include border-radius(8px);
        @include size(520px, 320px);
        background-color: $white;
        box-shadow: $box-shadow;
        padding: 30px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        padding-left: 100px;
        line-height: 30px;
        color: $black-5;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        @include media-breakpoint-up(lg) {
            transform: translate(-30%, -50%); 
        }
        
        @include media-breakpoint-up(xl) {
            transform: translate(-50%, -50%); 
        }

        &::after {
            @include size(40px, 200px);
            content: '';
            background-color: $white;
            @include border-top-right-radius(8px);
            @include border-bottom-right-radius(8px);
            position: absolute;
            background-color: rgba($white, .4);
            top: 60px;
            right: -40px;
        }
        
        &::before {
            @include size(20px, 240px);
            content: '';
            background-color: $white;
            @include border-top-right-radius(8px);
            @include border-bottom-right-radius(8px);
            position: absolute;
            background-color: rgba($white, .4);
            top: 40px;
            right: -20px;
            

        }
    }

    &__author {
        line-height: 20px;
    }


    &__wrap {
        .nav-item {
            position: absolute;
        }

        .nav-link {
            @include size(100%, 100%);  
            @include border-radius(50%);
            overflow: hidden;
            padding: 0;
            box-shadow: 0 0 20px rgba($black, .3);

            img {
                @include border-radius(50%);
                @include size(100%, auto);
                display: block;
            }
        }

        .user-1 {
            @include size(60px, 60px);
            right: 190px;
              
        }

        .user-2 {
            @include size(110px, 110px);
            top: 100px;
            left: 180px;
        }

        .user-3 {
            @include size(60px, 60px);
            right: 275px;
            top: 220px;
        }

        .user-4 {
            @include size(40px, 40px);
            right: 310px;
            top: 320px;
        }

        .user-5 {
            @include size(140px, 140px);
            left: 50px;
            bottom: 120px;
        }

        .user-6 {
            @include size(80px, 80px);
            right: 250px;
            bottom: 0;
        }
    }
}

.success-stories-slider {
    padding: 0;
    margin: 0;

    &--content {
        width: 394px;
    }

    .slick-dots {
        bottom: -120px;
        margin-left: 50px;
    }
}