.team {
    .col-lg-4 {
        margin: 20px 0;
    }

    &__bg {
        width: 0;
        height: 0;
        border-bottom: 410px solid $gray-100;
        border-right: 300px solid transparent;
        position: absolute;
        z-index: -1;
    }

    &--image {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &--whiteBg {
        background: $white !important;
        padding: 15px;
    }

    &--info {
        overflow-y: auto;
        width: 100%;
        height: 100%;
    }

    &--member {
        text-align: center;
        width: 300px;
        margin-top: 15px;
        color: $black-5;

        h3 {
            color: $black-8;
        }
    }
}

.contact {
    

    &__items {
        padding: 0;
        margin: 0 -40px;

        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        flex : 0 0 50%;
        padding: 15px 40px;
    }

    &__form {
        padding: 30px 40px;
    }
}

.gen-contact {
    margin: 0;
    padding: 0;
    
    li {
        display: flex;
        font-size: $font-size-md;
    }
}

.thanks {
    .explore-new {
        display: inline-block;
        padding-left: 48px;
        padding-right: 48px;
        position: absolute;
        bottom: 20px;
    }

    .card__side__front__content__head {
        height: 60px;
        width: 100%;
    }

    .card__side__front__content {
        padding-bottom: 90px;
    }
}

.resources {
    &__images {
        @include size(310px, 254px);
        position: absolute;
        display: block;
        top: -55px;
        right: -60px;
        border-radius: 50%;
        overflow: hidden;
    }

    .white-box {
        height: 230px;
        position: relative;
    }

    &__video {
        &--circle {
            @include size(40px, 40px);
            @include border-radius(50%);
            background-color: $light-green;
            display: inline-block;
            position: relative;
            margin-right: 10px;

            sup {
                position: absolute;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-left: 15px solid $primary;
                border-bottom: 10px solid transparent;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}