.career-steps {
    &__gr-shape-right {
        @include size(700px, 530px);
        @include border-top-left-radius(290px);
        @include border-bottom-left-radius(290px);
        background-color: #42e8e0;
        background-image: linear-gradient(-147deg, $primary-dark 10%, $primary 78%);
        position: absolute;
        right: 0px;
        top: 50px;

        &__headingWrap {
            h2 {
                color: $black;
            }
        }

        &__items {
            padding: 0;
            margin: 90px 0 0;
        }
    
        &__item {
            padding: 20px;
            font-size: $font-size-lg;
            color: $black-3;
            display: flex;
            align-items: center;
            width: 400px;
    
            &:not(:last-child) {
                margin-bottom: 30px;
            }
    
            &:nth-child(2) {
                margin-left: 80px;
            }
            
            &:nth-child(3) {
                margin-left: 160px;
            }
    
            .sprite {
                margin-right: 20px;
                flex: 0 0 70px;
            }
        }
    }
    
    &__gr-shape-left {
        @include size(700px, 530px);
        @include border-top-right-radius(290px);
        @include border-bottom-right-radius(290px);
        background-color: #42e8e0;
        background-image: linear-gradient(-147deg, $primary-dark 10%, $primary 78%);
        position: absolute;
        left: 0px;
        top: 50px;

        &__items {
            padding: 0;
            margin: 60px 0 0 130px;
            align-items: flex-start;
        }
    
        &__item {
            padding: 15px;
            color: $black-3;
            height: 275px;
            

            display: flex;
            flex-direction: column;
            flex: 0 0 195px;
    
            &:not(:last-child) {
                margin-right: 30px;  
            }
    
            &:nth-child(2) {
                margin-top: 80px;
            }
            
            &:nth-child(3) {
                margin-top: 160px;
            }
    
            .sprite {
                margin-right: 20px;
                flex: 0 0 70px;
            }
        }

        
    }

    &__item {
        height: 530px;
        display: flex;
        align-items: center;
    }

    &__count {
        @include size(100px, 100px);
        @include border-radius(50%);
        display: block;
        background-color: $light-green;
        position: relative;
        margin-bottom: 30px;

        span {
            color: $white;
            text-shadow: 0 0 30px rgba($primary, .3);
            font-size: 4.375rem;
            font-weight: $font-weight-bold;
            position: absolute;
            right: -35px;
            top: 0;
            color: $primary;
        }
    }   
}

.get-started {
    background-image: url(#{$path}/career/get-started.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    color: $white;
}

.book-mentor {
    &__items {
        li {
            margin: 0 15px;
            padding-bottom: 30px;
        }
    }

    &__card {
        width: 300px;
    }

    &__bg {
        background-color: $gray-300;
        padding: 30px 0 0;
        margin-top: 30px;
    }
}

.learning-path {
    z-index: 1;

    &--image {
        @include size(90px, 90px);
        @include border-radius(50%);
        overflow: hidden;
        display: block;
    }

    &__collapse {
        width: 98%;
        z-index: -1;
    }
}

.learning-accordion {
    .accord-card {
        background-color: $white;
    }
}