.checkout {
    &__left {
        border-left: 2px dashed $black-3;
        position: relative;
        padding-left: 50px;

        h2 {
            span {
                color: $black-3;
                font-weight: $font-weight-normal;
            }
        }
    }

    &__count {
        @include border-radius(50%);
        @include size(50px);
        background-color: $primary;
        color: $white;
        position: absolute;
        left: -75px;
        top: 0;

        font-size: $font-size-lg;
        font-weight: $font-weight-bold;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__summary {
        color: $black-8;
        font-size: $font-size-sm;

        display: flex;
        justify-content: space-between;

        li {
            p {
                margin-bottom: 0;
            }
        }
        &--list {
            span {
                color: $black-5;
                display: block;
            }
        }
    }

    .media {
        display: flex;

       &--imgwrap {
        @include border-radius(50%);
        @include size(80px, 80px);
        display: block;
        background-color: $cyan;
        margin-right: 15px;

        display: flex;
        justify-content: center;
        align-items: center;

        h5 {
            margin-bottom: 0;
        }
       }
    }

    &__right {
 

        &__item {
            display: flex;
            justify-content: space-between;

            &:not(:last-child) {
                margin-bottom: 5px;
            }

            &--total{
                color: $black-5;
            }
            &--price{
                color: $black-8;
            }
        }

        &__bottom {
            border-top: 1px solid $border-light-grey;
            padding: 15px 15px 0;
            width: 100%;
        }
    }

    &--apply {
        margin-top: 10px;
    }
}

