@import "scss/variables";

.cta-wrap {
    background-color: $black-8;
    padding: 0.3125rem 1rem;
    color: $white;
    display: flex;

    &__breadcrumbs {
        display: flex;
        margin-right: auto;
        font-size: $font-size-sm - .1;

        li {
            color: $white-8;
            a {
                &::after {
                    content: '';
                    width: 8px;
                    height: 8px;
                    display: inline-block;
                    background-image: url($image-path);
                    background-position: -71px -303px;
                    margin: 0 10px;
                }
                
                &:hover {
                    color: $white;
                }
            }
        }
    }


    &__items {
        padding: 0;
        margin: 0;

        &--item {
            font-size: $font-size-sm;

            a {
                color: $white;
            }

            &:not(:last-child) {
                margin-right: 1.875rem;
            }
    
            .sprite {
                @include size(16px, 16px);
                display: block;
                margin-right: 10px;
                position: relative;
                top: -1px;
            }
        }
    }
}



  
  #sticky.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
  }


.course-top-section {
    position: relative;

    h1 {
        color: $white;
        font-size: $font-size-lg;
        font-weight: $font-weight-semi-bold;
        padding-right: 1rem;
    }

    .location-tag {
        @include border-radius(4px);
        height: 31px;
        background-color: $white;
        color: $primary;
        padding: 0 5px;
        display: inline-block;
        line-height: 32px;
    }

    p {
        color: $white-8;
        font-size: $font-size-base;
        letter-spacing: .4px;
        font-weight: 300;

        strong {
            color: $white;
        }
    }

    &__headingWrap {
        width: 70%;
        p {
            color: $white-8;
        }

    }

    &__gr-panel {
        @include size(100%, 555px);
        background: $primary-gradient-rightBottom;
        position: absolute;
        top: 0;
        left: 0;

        @include media-breakpoint-up(md) {
            @include size(100%, 355px);  
        }


    }

    &__course {
        margin: 0;
        padding: 0;

        li {
            font-weight: $font-weight-bold;

            a {
                color: $white;
                text-decoration: underline;
            }
        }
    }

    &__stats {
        padding: 1.5rem 1rem;
    }
    
    &__items {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(md) {
            margin: 0 -.5rem;
            flex-direction: row;
            justify-content: space-between;
        }

        li {
            font-size: 0.8rem;
            color: $black-5;
            width: 100%;
            padding: 0;
            font-weight: 300;
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }

            @include media-breakpoint-up(md) {
                font-size: $font-size-base;
                width: 33.33%;
                padding: 0 1.5rem;
                display: block;

                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }

            strong {
                font-size: 1.2rem;
                font-weight: $font-weight-bold;
                color: $primary;
                line-height: 30px;
                margin-bottom: 0;
                background-color: $gray-300;
                border-radius: 50%;
                height: 60px;
                margin-right: 15px;

                display: flex;
                flex: 0 0 60px;
                justify-content: center;
                align-items: center;

                @include media-breakpoint-up(md) {
                    display: block;
                    font-size: $font-size-lg;
                    flex: 0 0 auto;
                    background-color: transparent;
                    height: auto;
                    margin-bottom: 1rem;
                    margin-right: 0;
                }
            }
        }
    }

    &__getting-started {
        span{
            color: $gray-800;
            font-size: 1rem;
            font-weight: $font-weight-semi-bold;

            @include media-breakpoint-up(md) {
                font-size: $font-size-md;
            }
        }

        h2 {
            color: $primary;
            font-size: 1.35rem;
            font-weight: $font-weight-semi-bold;

            @include media-breakpoint-up(md) {
                font-size: $font-size-lg;
            }
        }
    }


    &__rightBox {

        position: relative;
        min-height: $font-weight-semi-bold;

        &--imageBox {
            position: relative;
            overflow: hidden;
            height: 325px;

            .tag {
                padding-top: 7px;
                padding-bottom: 10px;
                padding-right: 20px;
                padding-left: 25px;
            }
        }

        &__content {
            padding: 0.5125rem 1.25rem 1.25rem 1.25rem;
        }
    }
}


.price-box {
    padding: 0;
    margin: 0;

    li {
        &:not(:last-child) {
            @include media-breakpoint-up(lg) {
                margin-right: 1.5rem;
            }
        
            @include media-breakpoint-up(xl) {
                margin-right: 2rem;
            }
        }
    }

    &--ourPrice {
        color: $black-8;
        font-weight: $font-weight-bold;

        @include media-breakpoint-up(lg) {
            font-size: $font-size-lg;
        }
    }

    &--RealPrice {
        font-size: $font-size-md;
        color: $black-5;
    }

    &--discount {
        font-size: 1.25rem;
        color: $primary;
    }
}


.ratting {
    span {
        @include size(16px, 16px);
        display: block;
        background-image: url($image-path);

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &--starFull {
        background-position: -185px -75px;
    }

    &--starHalf {
        background-position: -207px -75px; 
    }

    a {
        margin-left: 8px;
    }
}

.date {
    position: relative;
    padding-left: 1.875rem;
    font-size: $font-size-sm;

    &::before {
        @include size(21px, 23px);
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        background-image: url($image-path);
        background-position: -229px -72px; 

    }   
}

.lessons {
    &::before {
        @include size(26px, 21px);
        background-position: 0 -36px; 

    }   
}


.time-certificate {
    font-size: $font-size-sm;
    li {
        flex: 0 0 50%;

        i {
            flex: 0 0 30px;
        }
    }
}

.enroll-btn {
    position: absolute;
    width: calc(100% - 30px);
    bottom: 20px;
    left: 15px;
    padding: 0 30px;
}


.quotes {
    font-size: $font-size-base;
    color: $black-5;
    

    &--item {
        padding-left: 40px;
        margin-top: 20px;
        position: relative;
        font-weight: $font-weight-normal;
        font-size: $font-size-sm;

        @include media-breakpoint-up(md) {
            font-size: $font-size-base;
            padding-left: 70px;
            margin-top: 50px;
        }

        .icon-quote {
            top: -10px;
            left: -15px;
            transform: scale(.5);

            @include media-breakpoint-up(md){
                top: -25px;
                left: 0;
                transform: scale(1); 
            }
        }

    }
}

.sale-lists {
    background-image: linear-gradient(to right bottom, rgba($primary-light, .9), rgba($primary-dark, .9)), url('../images/course-detail/sales-bg.jpg');
    padding: 15px 0;
    background-size: cover;

    @include media-breakpoint-up(md){
        padding: 50px 0;
    }
}

.circle-tick {
    font-size: $font-size-base;
    color: $white;
    font-weight: $font-weight-semi-bold;
    position: relative;
    margin: -5px 0;
    

    @include media-breakpoint-up(md){
        margin: -25px 0;
        padding: 0;
    }

    li {
        padding-left: 40px;
        margin: 15px 0;

        @include media-breakpoint-up(md){
            margin: 35px 0; 
        }



        &::before {
            @include size(24px, 24px);
            content: '';
            display: block;
            position: absolute;
            left: 15px;
            background-image: url($image-path);
            background-position: -45px -103px;
            transform: scale(0.8);

            @include media-breakpoint-up(md) {
                left: 0;
                transform: scale(1);
            }
        }
    }
}

.green-tick {
    font-size: $font-size-sm;
    color: $black-5;
    font-weight: 300;
    position: relative;
    margin: -15px 0;
    padding: 0;

    @include media-breakpoint-up(md) {
        font-size: $font-size-base;
    }

    li {
        padding-left: 35px;
        margin: 15px 0;
        position: relative;

        &::before {
            @include size(21px, 16px);
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 3px;
            background-image: url($image-path);
            background-position: -81px -108px;
            transform: scale(0.8);
        }
    }
}

.tagging {
    margin: 0 -5px;

    span {
        @include border-radius(36px);
        height: 36px;
        background-color: $gray-300;
        color: $black-5;
        padding: 6px 16px;
        display: inline-block;
        margin: 5px;
        font-size: $font-size-sm;

        @include media-breakpoint-up(md) {
            font-size: $font-size-base;
        }

    }
}

.course-infoTabs {

    &__tabWrap {
        background-color: $black-8;
        padding-left: 1rem;
        padding-right: 1rem;

        .nav-link {
            color: $white;

            &:hover {
                background-color: $white;
                color: $black-8;
            }
        }

        .active {
            background-color: $white;
            color: $black-8;
        }

    }

    &__tab {
        
    }
}

.list-dot-grey {
    padding: 0 0 0 1rem;
    margin: 0;

    li {
        list-style-type: disc;
        color: $black-5;
        font-size: $font-size-sm;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.accordion {
    margin: 0;

    @include media-breakpoint-up(md) {
        margin: 1rem 0; 
    }

    .accord-card {
        border: 0 none;
        border-bottom: 1px solid $gray-400;
        padding: 1rem;
        border-radius: 0;

        @include media-breakpoint-up(md) {
            border: 1px solid $gray-400;
            padding: 1rem;
            border-radius: $border-radius-8; 
        }

        &:not(:last-child) {
            margin-bottom: 0;

            @include media-breakpoint-up(md) {
                margin-bottom: 1rem;
            }
        }
    }

    .accord-card-header {
        display: block;

        h2 {
            font-size: $font-size-base;
            color: $black-8; 
            margin-bottom: 10px;
            margin-top: 10px;
            cursor: pointer;
            font-weight: 400;
        }

        .collapsed {
            margin-bottom: 0;
        }
    }

    .collapsed {
        margin-bottom: 10px;

        .icon-upArrow {
            background-position: -292px -88px;
        }
    }
}

.locations {
    padding: 0;
    margin: 0 -45px;

    flex-wrap: wrap;

    &__item {
        width: 33.33%;
        padding: 0 45px;
        margin: 10px 0;

        display: flex;
        align-items: center;

    }

    &__image {
        @include size(60px, 60px);
        @include border-radius(50%);
        overflow: hidden;
        display: block;

        flex: 0 0 60px;

        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    &__info {
        font-size: $font-size-sm;
        color: $black-5;
        margin-left: 15px;

        strong {
            font-size: $font-size-base;
            color: $black-8;
        }
    }
}

.course-advisor {
    &__info {
        font-size: $font-size-sm;
        padding-right: 80px;

        p {
            color: $black-5;
        }
    }

    &__right {

        &--image {
            @include size(180px, 180px);
            @include border-radius(50%);
            display: block;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        &--name {
            font-size: $font-size-md;
            margin-top: 15px;
            color: $black-8;
        }

        &--smo {
            margin: 0;
            padding: 0;

            li {
                &:not(:last-child) {
                    margin-right: 10px;    
                }

                a {
                    @include size(22px, 18px);
                    display: block;
                }
            }
        }
    }
}

.certificate-right-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.certificate-right {
    padding-right: 190px !important;
    position: relative;
    flex: 0 0 46%;

    &--image {
        @include border-radius(50%);
        overflow: hidden;
        position: absolute;
        top: -20px;
        right: -30px;
        width: 60%;
    }
}

.gallery {
    li {
        .img-wrap {
            border-radius: $border-radius-8;
            width: 300px;
            height: 410px;
            overflow: hidden;
            box-shadow: $box-shadow-md;
        }
    }
}


.btn-download {
    @include size(48px, 48px);
    @include border-radius(50%);
    display: block;
    background-color: rgba($black, .7);
    position: absolute;
    right: 15px;
    top: 15px;
}

.course-list {
    .card {
        width: 100%;
        height: 450px;
    }
}

.enroll-modal {
    .modal-content {
        margin-top: 25%;
    }

    .modal-title {
        font-size: $font-size-base; 
    }

    .modal-header {
        padding-left: 30px;
        padding-right: 30px;
    }

    .modal-body {
        padding: 20px 30px;
    }
}


.enroll-cta {
    padding: 15px;
    position: absolute;
    width: 400px;
    right: 78px;
    border-radius: 0 0 8px 8px;
    opacity: 0;
    visibility: hidden;
    top: -50px;
    transition: all .2s;

    &--wrap {
        display: flex;
    }
}

.stick {
    .enroll-cta {
        display: block;
        visibility: visible;
        opacity: 1;
        top: 31px;
    } 
}