@import "scss/variables";
@import "../components/courses";
@import "../components/partner-tabs";
@import "../components/beign-prepared";
@import "../components/success-stories";
@import "../components/partners";
@import "../components/slick-dots";
@import "../components/slick-arrows";


%shape {
    @include size(350px, auto);
    @include border-radius(5px);
    background-color: $white;
    padding: 15px;
    color: $black-8;
    font-weight: $font-weight-semi-bold;
    position: absolute;
    line-height: 1.3;
}

.slick-slide {
    position: relative;
}

.banner {
    position: relative;

    .container {
        .row {
            height: 530px;
        }
    }

    @include media-breakpoint-up(md) {
        height: auto;
    }

    @include media-breakpoint-up(lg) {
        height: 600px;
    }


    &__shape {
        @include border-top-left-radius(290px);
        @include border-bottom-left-radius(290px);
        position: absolute;
        right: 0px;
        top: 100px;

        @include media-breakpoint-up(sm) {
            @include size(700px, 530px);  
        }

        @include media-breakpoint-up(md) {
            @include size(700px, 530px);
            top: 0;
        }

        @include media-breakpoint-up(lg) {
            @include size(600px, 490px);
            top: 50%;
            transform: translateY(-50%);
        }

        @include media-breakpoint-up(xl) {
            @include size(700px, 530px);
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
    
    &__headingWrap {
        color: $black-5;
        font-size: $font-size-sm;

        h1 {
            font-size: $font-size-sm;
            color: $black-8;

            span {
                color: $black-8;
            }
        }

        p {
            font-size: $font-size-base;
            font-weight: 300;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.8rem;

            h1 {
             font-size: $font-size-lg;
             font-weight: $font-weight-semi-bold;
            } 
         }
    }
}

.lifeLong {
    position: relative;
    background: $white;
    color: $black-8; 

    @include media-breakpoint-up(md) { 
        padding: 50px 0 50px;
        color: $white;
        background: linear-gradient(to right, 
                                rgba($primary-light,1) 0%, 
                                rgba($primary-light,1) 50%, 
                                rgba($primary-dark,1) 50%, 
                                rgba($primary-dark,1) 100%);
    }
    
    @include media-breakpoint-up(lg) { 
        padding: 50px 0 100px;
    }
    
    @include media-breakpoint-up(xl) { 
        padding: 50px 0 140px;
    }

    h2 {
        color: $black-8; 

        @include media-breakpoint-up(md) {
            color: $white;  
        }
    }

    &__info {

        @include media-breakpoint-up(md) { 
            transform: scale(.65);
            margin-top: 50px;
        }
        
        @include media-breakpoint-up(lg) { 
            transform: scale(.8);
            margin-top: 80px;
        }
        
        @include media-breakpoint-up(xl) { 
            transform: scale(1);
            margin-top: 120px;
        }

        &--circle {
            @include size(280px, 280px);
            @include border-radius(50%);
            background-color: $white;
            box-shadow: $box-shadow;
            position: relative;
            color: $black-5;
            padding: 2.18rem;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .btn-primary-gr {
                z-index: 1;
            }

            &::after {
                @include size(290px, 290px);
                @include border-radius(50%);
                content: '';
                border: 2px dashed $white-8;
                margin: 10px;
                padding: 10px;
                display: block;
                box-sizing: content-box;
                position: absolute;
                top: -27px;
                left: -27px;
            }

            h3 {
                color: $black-8;
                font-size: 1.5rem;
            }
        }

        &__mgsPopup {
            @extend %shape;

            &::after {
                @include triangle-bottomleft(30px, 40px, $white);
                content: '';
                position: absolute;
                right: -35px;
                top: 50%;
                transform: translateY(-50%);
            }

            &--dot {
                @include size(10px, 10px);
                @include border-radius(50%);
                background-color: $white;
                box-shadow: $box-shadow;
                position: absolute;
                color: $black-5;
                bottom: 10px;
                right: -60px;
    
                &::after {
                    @include size(16px, 16px);
                    @include border-radius(50%);
                    content: '';
                    border: 1px solid $white-8;
                    display: block;
                    box-sizing: content-box;
                    position: absolute;
                    top: -4px;
                    left: -4px;
                }
            }
        }

        &--shape-topLeft {
            @extend %shape;
            &::after {
                @include triangle-topleft(30px, 40px, $white);
                content: '';
                position: absolute;
                right: -35px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        

        
    }
}



.mask {
    @include size(300px, 66px);
    position: absolute;
    background-image: url('../images/mask.png');
    top: -41px;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;

    @include media-breakpoint-up(sm) {
        @include size(638px, 86px); 
        top: -86px;
        left: -100px;
    }
}

.arrow-link {
    line-height: 1.125rem;
    position: relative;
    z-index: 2;

    &::after {
        @include size(14px, 10px);
        content: '';
        display: inline-block;
        background-image: url($image-path);
        background-position: -209px -10px;
        position: relative;
        top: 1px;
        margin-left: 10px;

    }
}

.arrow-link-white {

    &::after {
        background-position: -209px -10px;
    }
}

.arrow-link-blue {

    &::after {
        background-position: -189px -10px;
    }
}

section {
    padding: 30px 0;

    @include media-breakpoint-up(md) {
        padding: 60px 0;
    }

    h2{
        font-size: $font-size-md;
        font-weight: 600;
        color: $black-8;
    }

    h3{
        font-size: 1rem; 
        color: $black-5; 
        font-weight: 600; 
    }
}

.home {
    h1 {
        font-size: $font-size-lg;
        font-weight: 600;
    }

    p {
        font-size: $font-size-base;
        margin-bottom: 0;
        font-weight: 300;
    }
}


.no-slider{
     li {
         width: 332px;
     }
}