.mobile-cta-detail {
    color: $white;
    font-size: 0.813rem;
    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            display: flex;
            width: 50%;
            padding-right: 15px;
            margin: 8px 0;

            .sprite {
                @include size(17px, 22px);
                margin-right: 10px;
            }

            .review-count {
                font-size: 0.8rem;
                color: $white-8;
            }

            &.loc {
                width: 100%;
            }
        }
    }

    .m-available-on {
        background-color: $black-8;
        border-radius: 30px;
        padding: 5px 10px;
        color: $white;
        position: absolute;
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
        width: 220px;
    }

    .enroll-cta {
        &--wrap {
            flex-direction: column;
            padding: 15px;
        }
    }

    .price-box {
        justify-content: center;

        li {
            width: auto;
        }


        &--ourPrice {
            font-size: $font-size-lg;
        }
        
        &--RealPrice {
            align-items: center;
        }
    }
}


.m-success-stories {
    width: 100%;
    padding: 15px;
    font-size: $font-size-sm;

    &--wrap {
        display: flex;
        flex-direction: column;
    }

    &__slider {
        padding-top: 50px;
        margin-top: -20px;
    }

    &--content {
        width: auto;
        padding: 0px 15px 15px;
    }
    .icon-quote {
        transform: scale(.6);
        top: 0;
        left: 5px;
    }
}

.variable-width {
    width: 375px;
 }

 .m-success-stories-slider {
    .slick-dots {
        margin: 10px 0 0px;
        width: 100%;
        text-align: center;
    }
 }

 .m-tabbing {
    border-radius: 0;
    background-color:transparent;
    box-shadow: none;
    width: 100%;
    position: relative;

    @include media-breakpoint-up(md) {
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 1px 5px 11px rgba(0, 0, 0, 0.15);
        width: 100%;
        position: relative;
    }

    .panel-group {
        border: 1px solid $border-light-grey;
        border-radius: 8px;
        overflow: hidden;

        .panel {
            border-bottom: 1px solid $border-light-grey
        }
    }

    .panel-heading {
        background-color: $black-8;

        .panel-title {
            margin-bottom: 0;

            a {
                color: $white;
                padding: 15px;
                display: block;
            }
        }
    }

    .panel-collapse {
        padding: 15px;
        font-size: $font-size-sm;
    }

    #collapse4 {
        padding: 0;
    }
 }

