.color-black-5 {
    color: $black-5 !important;
}

.color-black-8 {
    color: $black-8;
}

.color-white-8 {
    color: $white-8;
}

.color-white {
    color: $white !important;
}

.link-color {
    color: $primary;
}