$green:   #099974;

$primary:       $green;
$primary-light  :#22cfa2;
$primary-dark   :#00929d;
$link-color     :$primary;
$footer-bottom  : #068a68;
$light-green    : #cef8f6;
// linearGradients

$primary-gradient-rightBottom :linear-gradient(to right bottom, $primary-light, $primary-dark);
$primary-gradient-toRight :linear-gradient(to right, $primary-light 0%, $primary-dark 100%);
$primary-hover:linear-gradient(to left, $primary-light, $primary-light);


// Gray Shades
$black-3 : rgba($black, .3);
$black-5 : rgba($black, .5);
$black-8 : rgba($black, .8);

// White shades
$white-8 : rgba($white, .8);


$font-family-base       : 'Nunito Sans', sans-serif;
$font-weight-semi-bold  : 600;
$headings-font-weight   : 700;

$font-size-md:                $font-size-base * 1.125; // 18px
$font-size-lg:                $font-size-base * 1.5; // 25px
$font-size-xl:                $font-size-base * 2.5; // 40px
$h3-font-size:                $font-size-lg;
$h4-font-size:                $font-size-md;



$body-color :  $gray-700;
$gray-200   : #ececec;
$gray-300   : #f6f6f6;



// Images
$path: '../../images/';
$image-path: $path + 'sprite.svg';
$mentor-sprite: $path + 'mentorship.svg';

// Borders 
$border-light-grey  : $gray-200;
$border-radius-8    : 8px;

// Navigation
$navbar-light-color:        rgba($black, .7);
$navbar-light-hover-color:  $primary;


//Shadow
$box-shadow : 0 0 10px rgba($black, .1);
$box-shadow-md : 1px 5px 11px rgba($black, .15);


$input-height-md: calc(#{$input-line-height-sm * 1em} + #{$input-btn-padding-y-lg * 1.38} + #{$input-height-border});

$input-placeholder-color    : $gray-400;
$input-btn-font-size        : $font-size-sm;