// Contents
//
// Navbar
// Navbar brand
// Navbar nav
// Navbar text
// Navbar divider
// Responsive navbar
// Navbar position
// Navbar themes


// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between; // space out brand from logo
  padding: 0 $navbar-padding-x;

  // Because flex properties aren't inherited, we need to redeclare these first
  // few properties so that content nested within behave properly.
  > .container,
  > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}


// Navbar brand
//
// Used for brand, project, or site names.

.navbar-brand {
  @include size(140px, 28px);
  background-image: url($image-path);
  text-indent: -9999px;
}


// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding: 1rem;
    border-bottom: 3px solid $white;
    cursor: pointer;

    &:hover {
      border-bottom-color: $primary;
      background-color: #000;
    }
  }

  .dropdown-menu {
    position: static;
    float: none;
  }
}


// Navbar text
//
//

.navbar-text {
  display: inline-block;
  padding-top: $nav-link-padding-y;
  padding-bottom: $nav-link-padding-y;
}


// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// When collapsed, prevent the toggleable navbar contents from appearing in
// the default flexbox row orientation. Requires the use of `flex-wrap: wrap`
// on the `.navbar` parent.
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  // For always expanded or extra full navbars, ensure content aligns itself
  // properly vertically. Can be easily overridden with flex utilities.
  align-items: center;
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
  padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
  @include font-size($navbar-toggler-font-size);
  line-height: 1;
  background-color: transparent; // remove default button style
  border: $border-width solid transparent; // remove default button style
  @include border-radius($navbar-toggler-border-radius);

  @include hover-focus {
    text-decoration: none;
  }
}

// Keep as a separate element so folks can easily override it with another icon
// or image file as needed.
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        > .container,
        > .container-fluid {
          padding-right: 0;
          padding-left: 0;
        }
      }

      @include media-breakpoint-up($next) {
        flex-flow: row nowrap;
        justify-content: flex-start;

        .navbar-nav {
          flex-direction: row;

          .dropdown-menu {
            position: absolute;
          }

          .nav-link {
            padding-right: $navbar-nav-link-padding-x;
            padding-left: $navbar-nav-link-padding-x;
          }
        }

        // For nesting containers, have to redeclare for alignment purposes
        > .container,
        > .container-fluid {
          flex-wrap: nowrap;
        }

        .navbar-collapse {
          display: flex !important; // stylelint-disable-line declaration-no-important

          // Changes flex-bases to auto because of an IE10 bug
          flex-basis: auto;
        }

        .navbar-toggler {
          display: none;
        }
      }
    }
  }
}


// Navbar themes
//
// Styles for switching between navbars with light or dark background.

// Dark links against a light background
.navbar-light {
  box-shadow: 0 0 10px rgba($black, .2);
  position: relative;
  z-index: 1;

  .navbar-nav {

    .nav-item {
      &:not(:last-child) {
        margin-right: 1.25rem;
      }
    }
    .nav-link {
      color: $navbar-light-color;

      @include hover-focus {
        color: $navbar-light-hover-color;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .login-link {
      @include border-radius(30px);
      border: 1px solid $primary;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: .3rem;
      padding-bottom: .3rem;
      color: $primary;

      &:hover {
        background-color: #000;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-light-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-light-color;
    a {
      color: $navbar-light-active-color;

      @include hover-focus {
        color: $navbar-light-active-color;
      }
    }
  }
}


.navbar-nav {
    .dropdown.show{
      position: static;

      .dropdown-menu {
        display: flex;
        border-radius: 0px;
        width: 100%;
        text-align: center;
        left: 0;
        right: 0;
        z-index: -1;
        margin: 0;
        padding:0;
        // box-shadow: inset 0 13px 10px rgba($black, .2);
        box-shadow: 0px 15px 15px rgba($black, .2);
        border: 0 none;

        &::before {
          content: '';
          box-shadow: inset 0 7px 8px rgba($black, .1);
          position: absolute;
          width: 100%;
          height: 15px;
          z-index: 1;
        }

        .menuWrap {
          padding-top: 30px;
          padding-bottom: 50px;

          &--white {
            background-color: $white;
          }

          &--grey {
            background-color: $gray-300;
          }
        }
      }
    }


    .main-menu {
      text-align: left;
      font-weight: $font-weight-bold;

      li{
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }


      .dropdown-toggle.collapsed {
        color: $black-8;
      }

      a {
        color: $black-8;
        cursor: pointer;
      }

      .sub-menu {
        color: $black-8;
        font-size: $font-size-sm;
        font-weight: $font-weight-normal;
        padding-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

        li{
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }

        a {
          color: $black-5;
          cursor: pointer;
        }
      }

    }
}