.course {
    margin-top: 8.25rem;

    @include media-breakpoint-up(md) {
        margin-top: 5rem;
    }

    @include media-breakpoint-up(lg) {

    }

    &__slider {
        display: flex;
        
        li {
            padding: 10px;
            height: 100%;
        }

        position: relative;

    }

    &__card {
        @include border-radius(5px);
        background-color: $white;
        box-shadow: $box-shadow;
        padding: 20px;
        width: 226px;
        height: 260px;
        font-size: $font-size-sm;

        &:not(:last-child) {
            margin-right: 20px;
        }

        h2{
            color: $black-8;
            font-size: $font-size-sm;
            font-weight: $font-weight-bold;
        }

        &--iconWrap {
            @include border-top-right-radius(30px);
            @include border-bottom-right-radius(30px);
            @include size(50px, 50px);
            background-color: rgba($primary, .15);
            
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

        &--link {
            line-height: 1.125rem;
            position: relative;

            &::after {
                @include size(14px, 10px);
                content: '';
                display: inline-block;
                background-image: url($image-path);
                background-position: -189px -10px;
                position: relative;
                top: 1px;
                margin-left: 3px;

            }
        }
    }

    &--active {
        background-image: $primary-gradient-rightBottom;
        color: $white;

        h2, a {
            color: $white;  
        }

        .course__card--link::after {
            background-position: -209px -10px;
        }

        .course__card--iconWrap {
            background-color: $white;
        }
    }
}