
.slides-container {
    @extend %position-absolute;
    overflow: hidden;
    font-family: 'Fira Sans', sans-serif;
    color: $white;
}

.slide {
    @extend %position-absolute;
    height: 100%;
    text-align: center;
    overflow: hidden;
    transform: translateY(100%);
    transition: opacity 0.3s linear, visibility 0.3s linear;
    opacity: 1;
    visibility: visible;


    &__bcg {
        @extend %position-absolute;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    &__content {
        @include size(100%, 100%, block);
        position: absolute;
        z-index: 2;

    }
}

.load .slide {
    opacity: 0;
    visibility: hidden;
}

.slide-text {
    color: $white;
    font-size: 20px;
    text-align: left;
    position: absolute;
    width: 290px;
}

    

.slide01 {
    .slide__bcg {
        background-image: url('../images/slides/nana_1.jpg');
    }

    .slide-text {
        left: 12%;
        bottom: 6%;
        width: 280px;
    }
}

.slide02 {
    .slide__bcg {
        background-image: url('../images/slides/nana_2.jpg');
    }

    .slide-text {
        left: 15%;
        bottom: 7%;
    }
}

.slide03 {
    .slide__bcg {
        background-image: url('../images/slides/nana_3.jpg');
    }

    .slide-text {
        right: 20%;
        top: 21%;
        left: auto;
        bottom: auto;
        width: 240px;
    }
}

.slide04 {
    .slide__bcg {
        background-image: url('../images/slides/nana_4.jpg');
    }

    .slide-text {
        text-align: left;
        right: 10%;
        top: 9%;
        left: auto;
        bottom: auto;
        width: 280px;

        span {
            display: block;
            margin-top: 15%;
            margin-right: 50%;
        
        }
    }
}

.slide05 {
    .slide__bcg {
        background-image: url('../images/slides/nana_5.jpg');
    }

    .slide-text {
        right: 12%;
        top: auto;
        left: auto;
        bottom: 30%;
        color: $white;
    }
}

.slide06 {
    .slide__bcg {
        background-image: url('../images/slides/nana_6.jpg');
    }

    .slide-text {
        right: 15%;
        top: auto;
        left: auto;
        bottom: 38%;
        color: $white;
    }
}

.slide07 {
    .slide__bcg {
        background-image: url('../images/slides/nana_7.jpg');
    }

    .slide-text {
        text-align: left;
        right: auto;
        top: 8%;
        left: 1%;
        bottom: auto;
        width: 300px;
        color: $white;
    }
}

.slide08 {
    .slide__bcg {
        background-image: url('../images/slides/nana_8.jpg');
    }

    .slide-text {
        right: auto;
        top: 15%;
        left: 5%;
        bottom: auto;
        width: 350px;
        color: $white;
    }
}

.slide09 {
    .slide__bcg {
        background-image: url('../images/slides/nana_9.jpg');
    }

    .slide-text {
        right: auto;
        top: 12%;
        left: 2%;
        bottom: auto;
        color: $white;
    }
}

.slide10 {
    .slide__bcg {
        background-image: url('../images/slides/nana_10.jpg');
    }

    .slide-text {
        right: auto;
        top: auto;
        left: 2%;
        bottom: 5%;
        width: 330px;
        color: $white;
    }
}

.slide11 {
    .slide__bcg {
        background-image: url('../images/slides/nana_11.jpg');
    }

    .slide-text {
        right: auto;
        top: 33%;
        left: 20%;
        bottom: auto;
        width: 340px;
        color: $white;
    }
}

.slide12 {
    .slide__bcg {
        background-image: url('../images/slides/nana_12.jpg');
    }

    .slide-text {
        right: 2%;
        top: 50%;
        left: auto;
        bottom: auto;
        width: 340px;
        margin-top: -130px;
        color: $white;
    }
}
// project sildes


// Navigation 

.nav {
    position: fixed;
    bottom: 20px;
    right: 40px;
    left: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 3;
    text-align: center;

    li {
        @include size(20px, 20px, inline-block);
        border-radius: 50%;
        list-style: none;
        margin: 0 5px;

        a {
            @include size(15px, 15px, block);
            border-radius: 50%;
            text-decoration: none;
            border: 2px solid rgba(255, 255, 255, .8);
            background-color: #fff;
            transition: all 0.3s linear;
            box-sizing: content-box;
        }

        &.active a {
            background-color: #fff;
            border: 2px solid #00a48d;
            box-sizing: content-box;
            position: relative;

            &:after{
                /*Add another block-level blank space*/
                content: '';
                display: block;
                position: absolute;
                top: 2px;
                left: 5px;

             
                /*Make it a small rectangle so the border will create an L-shape*/
                width: 3px;
                height: 6px;
             
                /*Add a white border on the bottom and left, creating that 'L' */
                border: solid #00a48d;
                border-width: 0 2px 2px 0;
             
                /*Rotate the L 45 degrees to turn it into a checkmark*/
                transform: rotate(45deg);
              }
        }
    }
}

.topNav {
    width: 100%;
    position: relative;
    top: 15px;
    text-shadow: 0 0 7px rgba($black, .5);
    text-transform: uppercase;

    &__items {
        position: absolute;
        left: 30px;
       

        display: flex;

        li {
            letter-spacing: 1px;

            &:not(:last-child) {
                margin-right: 30px;
            }
        }

        a {
            color: $white;
        }
    }

    &__exit {
        position: absolute;
        right: 30px;
    }
}