.partner {
    &__tabWrap {
        @include border-radius(8px);
        box-shadow: $box-shadow;
        background-color: $white;
        padding-top: 25px;
        padding-bottom: 10px;
        padding-right: 15px;
            
        display: flex;
        flex-direction: row;
    }

    &__tabItems {
        @include border-top-left-radius(8px);
        @include border-bottom-left-radius(8px);
        
        display: flex;
        flex-direction: column;
        flex: 0 0 325px;

        .active {
            border-left: 5px solid $primary;
        }

        .nav-item {
            &:not(:last-child) {
                margin-bottom: 20px;

                .partner__tabContent {
                    border-bottom: 1px solid $border-light-grey;
                }
            }
        }
    }

    &__link {
        display: flex;
        border-left: 5px solid $white;
        padding-bottom: 0;
    }

    &__icon {
        flex: 0 0 23px;
        margin: 0 10px
    }

    &__tabContent {
        font-size: $font-size-sm;
        padding-bottom: 20px;

        &--head {
            font-size: 1.125rem;
            color: $black-8;
        }

        &--para {
            color: $black-5;
            line-height: 1.3;
        }
    }

    &__content {
        position: relative;
        flex: 1;

        .active {
            z-index: 3;
            position: relative;
        }

        &__career {
            @include size(100%, auto);
            @include border-radius(8px);
            background-color: $gray-300;
            overflow: hidden;
            padding: 15px 40px;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &__item {
            @include border-radius(8px);
            width: 50%;
            background-color: $white;
            position: relative;
            // overflow: hidden;
            
            &:not(:last-child) {
                margin-right: 60px;
            }

            &__image {
                @include border-top-left-radius(8px);
                @include border-top-right-radius(8px);
                position: relative;
                overflow: hidden;
                height: 185px;
                margin-top: 10px;
            }

            &--tag {
               @extend %tag;
               position: relative;
               width: 94%;
               height: 44px;
            }

            &--content {
                padding: 20px 30px;
                color: $black-5;
                font-size: $font-size-sm;
                text-align: center;
            }
        }
    }
}



.border-bottom-0 {
    border-bottom: 0 none;
}

.available {
    display: flex;
    line-height: 15px;
    margin: 0;
    padding: 0;

    li {
        &:not(:last-child) {
            border-right: 1px solid $white;
            padding-right: 10px;
            margin-right: 10px;
        }
    }
}