@import "scss/variables";
@import "scss/variables";

.cta-wrap {
    background-color: $black-8;
    padding: 0.3125rem 1rem;
    color: $white;

    &__items {
        padding: 0;
        margin: 0;

        &--item {
            font-size: $font-size-sm;

            a {
                color: $white;
            }

            &:not(:last-child) {
                margin-right: 1.875rem;
            }
    
            .sprite {
                @include size(16px, 16px);
                display: block;
                margin-right: 10px;
                position: relative;
                top: -1px;
            }
        }
    }
}


.course-top-section {
    position: relative;

    h1 {
        color: $white;
        font-size: $font-size-xl;
        font-weight: $font-weight-bold;
        padding-right: 1rem;
    }

    .location-tag {
        @include border-radius(4px);
        height: 31px;
        background-color: $white;
        color: $primary;
        padding: 0 5px;
        display: inline-block;
        line-height: 32px;
    }

    p {
        color: $white-8;

        strong {
            color: $white;
        }
    }

    &__headingWrap {
        width: 70%;
        p {
            color: $white-8;
        }

    }

    &__gr-panel {
        @include size(100%, 355px);
        background: $primary-gradient-rightBottom;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__course {
        margin: 0;
        padding: 0;

        li {
            font-weight: $font-weight-bold;

            a {
                color: $white;
                text-decoration: underline;
            }
        }
    }

    &__stats {
        padding: 1.5rem 1rem;
    }
    
    &__items {
        padding: 0;
        margin: 0 -.5rem;

        li {
            font-size: $font-size-sm;
            color: $black-5;
            width: 33.33%;
            padding: 0 1.5rem;

            strong {
                display: block;
                font-size: $font-size-xl;
                font-weight: $font-weight-bolder;
                color: $primary;
                line-height: 30px;
                margin-bottom: 1rem;
            }
        }
    }

    &__getting-started {
        span{
            color: $gray-800;
            font-size: $font-size-lg;
            font-weight: $font-weight-bold;
        }

        h2 {
            color: $primary;
            font-size: $font-size-xl;
            font-weight: $font-weight-bold;
        }
    }


    &__rightBox {

        position: relative;
        min-height: 590px;

        &--imageBox {
            position: relative;
            overflow: hidden;
            height: 355px;

            .tag {
                padding-top: 7px;
                padding-bottom: 10px;
            }
        }

        &__content {
            padding: 0.3125rem 1.25rem 1.25rem 1.25rem;
        }
    }
}


.price-box {
    padding: 0;
    margin: 0;

    li {
        &:not(:last-child) {
            @include media-breakpoint-up(lg) {
                margin-right: 1.5rem;
            }
        
            @include media-breakpoint-up(xl) {
                margin-right: 2rem;
            }
        }
    }

    &--ourPrice {
        
        color: $black-8;
        font-weight: $font-weight-bold;

        @include media-breakpoint-up(lg) {
            font-size: $font-size-lg;
        }
    
        @include media-breakpoint-up(xl) {
            font-size: $font-size-xl;
        }
    }

    &--RealPrice {
        font-size: $font-size-lg;
        color: $black-5;
    }

    &--discount {
        font-size: 1.25rem;
        color: $primary;
    }
}


.ratting {
    span {
        @include size(16px, 16px);
        display: block;
        background-image: url($image-path);

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &--starFull {
        background-position: -185px -75px;
    }

    &--starHalf {
        background-position: -207px -75px; 
    }
}

.date {
    position: relative;
    padding-left: 1.875rem;
    font-size: $font-size-sm;

    &::before {
        @include size(21px, 23px);
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        background-image: url($image-path);
        background-position: -229px -72px; 

    }   
}

.lessons {
    &::before {
        @include size(26px, 21px);
        background-position: 0 -36px; 

    }   
}


.time-certificate {
    font-size: $font-size-sm;
    li {
        flex: 0 0 50%;

        i {
            flex: 0 0 30px;
        }
    }
}

.enroll-btn {
    position: absolute;
    width: calc(100% - 30px);
    bottom: 20px;
    left: 15px;
    padding: 0 30px;
}


.quotes {
    font-size: $font-size-lg;
    color: $black-5;
    

    &--item {
        padding-left: 70px;
        margin-top: 50px;
        position: relative;
        font-weight: $font-weight-semi-bold;

        .icon-quote {
            top: -25px;
            left: 0;
        }

    }
}

.sale-lists {
    background-image: linear-gradient(to right bottom, rgba($primary-light, .9), rgba($primary-dark, .9)), url('../images/course-detail/sales-bg.jpg');
    padding: 50px 0;
    background-size: cover;
}

.circle-tick {
    font-size: $font-size-lg;
    color: $white;
    font-weight: $font-weight-semi-bold;
    position: relative;
    margin: -25px 0;
    padding: 0;

    li {
        padding-left: 60px;
        margin: 25px 0;



        &::before {
            @include size(40px, 40px);
            content: '';
            display: block;
            position: absolute;
            left: 0;
            background-image: url($image-path);
            background-position: -36px -96px;
        }
    }
}

.green-tick {
    font-size: $font-size-md;
    color: $black-5;
    font-weight: $font-weight-semi-bold;
    position: relative;
    margin: -15px 0;
    padding: 0;

    li {
        padding-left: 35px;
        margin: 15px 0;
        position: relative;

        &::before {
            @include size(21px, 16px);
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 3px;
            background-image: url($image-path);
            background-position: -81px -108px;
        }
    }
}

.tagging {
    margin: 0 -5px;

    span {
        @include border-radius(36px);
        height: 36px;
        background-color: $gray-300;
        color: $black-5;
        padding: 6px 16px;
        display: inline-block;
        margin: 5px;

    }
}

.course-infoTabs {

    &__tabWrap {
        background-color: $black-8;
        padding-left: 1rem;
        padding-right: 1rem;

        .nav-link {
            color: $white;

            &:hover {
                background-color: $white;
                color: $black-8;
            }
        }

        .active {
            background-color: $white;
            color: $black-8;
        }

    }

    &__tab {
        
    }
}

.list-dot-grey {
    padding: 0 0 0 1rem;
    margin: 0;

    li {
        list-style-type: disc;
        color: $black-5;
        font-size: $font-size-sm;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.accordion {
    margin: 1rem 0;

    .accord-card {
        border: 1px solid $gray-400;
        padding: 1rem;
        border-radius: $border-radius-8;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    .accord-card-header {
        display: block;

        h2 {
            font-size: $font-size-base;
            color: $black-8; 
            margin-bottom: 10px;
            margin-top: 10px;
            cursor: pointer;
        }

        .collapsed {
            margin-bottom: 0;
        }
    }

    .collapsed {
        margin-bottom: 10px;

        .icon-upArrow {
            background-position: -292px -88px;
        }
    }
}

.locations {
    padding: 0;
    margin: 0 -45px;

    flex-wrap: wrap;

    &__item {
        width: 33.33%;
        padding: 0 45px;
        margin: 10px 0;

        display: flex;
        align-items: center;

    }

    &__image {
        @include size(60px, 60px);
        @include border-radius(50%);
        overflow: hidden;
        display: block;

        flex: 0 0 60px;

        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    &__info {
        font-size: $font-size-sm;
        color: $black-5;
        margin-left: 15px;

        strong {
            font-size: $font-size-md;
            color: $black-8;
        }
    }
}

.course-advisor {
    &__info {
        font-size: $font-size-sm;
        padding-right: 80px;

        p {
            color: $black-5;
        }
    }

    &__right {

        &--image {
            @include size(180px, 180px);
            @include border-radius(50%);
            display: block;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        &--name {
            font-size: $font-size-md;
            margin-top: 15px;
            color: $black-8;
        }

        &--smo {
            margin: 0;
            padding: 0;

            li {
                &:not(:last-child) {
                    margin-right: 10px;    
                }

                a {
                    @include size(22px, 18px);
                    display: block;
                }
            }
        }
    }
}

.certificate-right {
    padding-right: 190px !important;
    position: relative;
    flex: 0 0 46%;

    &--image {
        @include border-radius(50%);
        overflow: hidden;
        position: absolute;
        top: -20px;
        right: -30px;
        width: 60%;
    }
}

.gallery {
    li {
        .img-wrap {
            border-radius: $border-radius-8;
            width: 300px;
            height: 410px;
            overflow: hidden;
            box-shadow: $box-shadow-md;
        }
    }
}


.btn-download {
    @include size(48px, 48px);
    @include border-radius(50%);
    display: block;
    background-color: rgba($black, .7);
    position: absolute;
    right: 15px;
    top: 15px;
}

.course-list {
    .card {
        width: 100%;
        height: 450px;
    }
}