.banner {
    background-image: linear-gradient(
        to right bottom, 
        rgba($primary-light, .8), 
        rgba($primary-dark, .8)), 
        url(../../landing-page/fb-lp/images/banner.png);
    background-size: cover;
    position: top;
    height: auto;
    position: relative;
    padding-top: 100px;

    @include media-breakpoint-up(md) {
        height: 630px; 
    }

    &--logo {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    &--heading {
       font-size: 2rem;
       color: $white; 
       line-height: 2rem;

       @include media-breakpoint-up(md) {
            font-size: 2.5rem;
            line-height: 2.5rem; 
        }
    }
    
    &--subhead {
        font-size: 1rem;
        color: $white; 
        margin-bottom: 40px;
        margin-top: 20px;

        @include media-breakpoint-up(md) {
            font-size: 1.5rem; 
        }
    }

    &__venu {
        font-size: .9rem;
        color: $white-8;
        margin-bottom: 40px;

        @include media-breakpoint-up(md) {
            font-size: 1.125rem;
        }

        &--info {
            font-weight: $font-weight-bold;
            color: $white;
        }
    }
}

.lead-form {
    &--head {
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    &--subhead {
        font-size: 1.125rem;
        color: $link-color;
        font-weight: $font-weight-normal;
    }
}

.sale-pointers {
    &.white-box {
        margin-top: 50px;
        position: relative;

        @include media-breakpoint-up(md) {
            margin-top: -50px;
        }


        p {
            font-size: $font-size-sm;
            color: $black-5;
            margin-bottom: 1.5rem;

            @include media-breakpoint-up(md) {
                margin-bottom: 0;
            }
        }
        
    }
    h2 {
        color: $link-color;
    }
}

.four-pointers {
    .white-box {
        padding: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

        @include media-breakpoint-up(md) {
            padding: 30px;
        }

        h2 {
            color: $link-color;
            font-size: $font-size-md;

            @include media-breakpoint-up(md) {
                font-size: $font-size-lg;
            }
        }

        p {
            font-size: $font-size-sm;
            font-weight: $font-weight-bold; 

            @include media-breakpoint-up(md) {
                font-size: $font-size-md;
            }
        }
    }

    .col-sm-6 {
        margin: 15px 0;
    }
}

.clevered-program {
    background-image: linear-gradient(
        to right bottom, 
        rgba($primary-light, .8), 
        rgba($primary-dark, .8)), 
        url(../../landing-page/fb-lp/images/banner.png);
    background-size: cover;
    position: top;

    padding: 60px 0;

    h2 {
        color: $white;
        font-size: $font-size-lg;

        @include media-breakpoint-up(md) {
            font-size: $font-size-xl;
        }
    }
}

.syllabus {
    padding-top: 60px;
    padding-bottom: 60px;


    &--circle {
        @include size (100px, 100px);
        @include border-radius(50%);
        background-color: $light-green;
        font-size: $font-size-lg;
        color: $link-color;
        display: inline-block;
        line-height: 100px;
        font-weight: $font-weight-bold;
    }
}

.corporate {
    .partner__tabWrap {
        margin-bottom: 150px;
    }

    .partner__content__career {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .partner__link {
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $border-light-grey;
        opacity: 1;
        
        i {
            flex: 0 0 70px;
            margin-right: 15px;
        }
    }

    .partner__tabContent {
        border: 0 none;
    }

    .partner__tabContent--head  {
        font-weight: $font-weight-bold; 
    }

    .active {
        .partner__tabContent--head {
            color: $primary;
        }
    }

    &__content{

        &--info {
            width: calc(100% - 30px);
            height: auto;
            content: '';
            position: absolute;
            top: 20px;
            left: 30px;
            background-color: #f6f6f6;
            overflow: hidden;
            padding: 20px;
        }
    }

    &__iconWarp {

        li {
            position: relative;
            padding-left: 35px;

            .sm {
                position: absolute;
                left: 0;
                top: -3px;
            }
        }
    }
}

.partner__tabWrap {
    .arrow-link {
        position: absolute;
        right: 0;
        z-index: 99;
    }

    .tab-pane {
        &.active {
            &::before {
                content: '';
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-right: 25px solid $gray-300;
                border-bottom: 20px solid transparent;
                position: absolute;
                z-index: 1;
                left: 6px;
                top: 61px;
            }
        }
    }
}

.course-list {
    li {
        border-bottom: 1px solid $border-light-grey;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
}

#build {
    &::before {
        content: '';
        top: 61px;
    }
}

#enchance {
    &::before {
        content: '';
        top: 170px;
    }
}

#enable {
    &::before {
        content: '';
        top: 290px;
    }
}

#industry {
    &::before {
        content: '';
        top: 420px;
    }
}

.instructors{
    margin-top: 0;
    padding: 50px 0;

    .multiple-items{
        li {
            margin: 0 15px;
            padding-bottom: 15px;
        }
    }
}

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    -webkit-perspective: 150rem;
    width: 300px;
    position: relative;
    height: 410px;

    &:not(:last-child) {
        margin-right: 20px;
    }    
}

.course-advisor {
    &__info {
        font-size: $font-size-sm;
        padding-right: 80px;

        p {
            color: $black-5;
        }
    }

    &__right {

        &--image {
            @include size(180px, 180px);
            @include border-radius(50%);
            display: block;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        &--name {
            font-size: $font-size-md;
            margin-top: 15px;
            color: $black-8;
        }

        &--smo {
            margin: 0;
            padding: 0;

            li {
                &:not(:last-child) {
                    margin-right: 10px;    
                }

                a {
                    @include size(22px, 18px);
                    display: block;
                }
            }
        }
    }
}


.get-started {
    background-image: url(#{$path}/career/get-started.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    color: $white;

    h2 {
        font-size: 1.5rem;
        
        @include media-breakpoint-up(md) {
            @include font-size($h2-font-size)
        }
    }
}