.apply-job {
    font-size: $font-size-sm;
    color: $black-5;

    .collapsed {
        .icon-close {
            display: none;
        }

        .apply-now,
        .loc {
            display: inline-block;
        }
    }

    .icon-close {
        display: block;
        cursor: pointer;
    }

    .apply-now {
        display: none;
        cursor: pointer;
    }

    .loc {
        display: none;
    }

    &__jobWrap {
        @include border-radius(8px);
        padding: 25px; 
        border: 1px solid $border-light-grey;

        &:not(:last-child){
            margin-bottom: 20px;
        }
    }
    

    h3 {
        color: $black-8;
    }

    &__form {
        background-color: $gray-300;
        padding: 20px 30px;
    }

    .col-lg-4 {
        margin: 10px 0;
    }
}