.mentorship {
    padding-bottom: 130px;

    .lifeLong__info__mgsPopup {
        width: 365px;
    }
}

.organizations {
    h3 {
        color: $black-8;
    }

    .sm {
        @include size(100px, 100px);
        display: inline-block;
    }

    &--item {
        margin: 30px 0;
    }
}

.mProgram {

    &--heading {
        font-size: $font-size-xl;
        font-weight: $font-weight-bold;
        text-align: center;
        padding: 30px;
    }

    &__item {
        @include border-radius(8px);
        box-shadow: 0 0 20px rgba($primary, .2);
        background-color: $white;
    }

    &--border {
        @include border-radius(8px);
        border: 2px dashed $primary;
        padding: 30px;
    }

    &--info {
        padding: 15px;
    }
}

.greenDot-list {
    margin: 0;
    padding: 0;

    li {
        position: relative;
        padding-left: 20px;

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &::before {
            content: '';
            @include size(10px);
            @include border-radius(50%);
            display: inline-block;
            background-color: $primary;
            margin-right: 10px;
            position: absolute;
            top: 6px;
            left: 0;
        }
    }
}

.mentorship-framework {
    &__dial {

    }

    &__info {
        position: relative;
        z-index: 1;

        &::after {
            content: '';
            border-top: 2px dashed $primary;
            width: 80%;
            position: absolute;
            left: 100px;
            top: 50px;
            z-index: -1;
        }

        .sm {
            @include size(100px, 100px);
            display: inline-block;
            margin: 20px 0;
        }


        &--circle {
            @include size(100px, 100px);
            @include border-radius(50%);
            font-weight: $font-weight-bold;
            display: inline-block;
            font-size: 4.375rem;
            color: $primary;
            background-color: $light-green;
            line-height: 100px;
        }

        &--text {
            position: absolute;
            top: 15px;
            left: 235px;
        } 
        
        &--text-2 {
            position: absolute;
            top: 15px;
            right: 213px;
        } 
    }
}

.streamlining {
    &--circle {
        @include size(100px, 100px);
        @include border-radius(50%);
        background-color: $light-green;
        display: inline-block;
        position: relative;

        span {
            font-size: 4.375rem;
            font-weight: $font-weight-bold;
            color: $primary;
            position: absolute;
            top: 0;
            right: -20px;
        }
    }

    &__arrow {
        @include size(59px, 28px);
        display: block;
        position: absolute;
        background-position: 0 -240px;
    }

    &--right {
        top: 50%;
        transform: translateX(-50%);
        right: -48px;
    }
   
    &--left {
        top: 50%;
        transform: translateX(-50%) rotateY(180deg);
        right: -55px;
        
    }
    
    &--down {
        bottom: 0;
        left: 43%;
        transform: rotateZ(90deg) translateY(-50%);
    }
}

.corporate {
    .partner__tabItems {
        @include border-radius(8px 0 0 8px);
        flex: 0 0 290px;
    }

    .partner__tabWrap {
        margin-bottom: 150px;
    }

    .partner__content__career {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .partner__link {
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $border-light-grey;
        opacity: 1;
        
        i {
            flex: 0 0 70px;
            margin-right: 15px;
        }
    }

    .partner__tabContent {
        border: 0 none;
    }

    .partner__tabContent--head  {
        font-weight: $font-weight-bold; 
    }

    .active {
        .partner__tabContent--head {
            color: $primary;
        }
    }

    &__content{

        &--info {
            width: calc(100% - 30px);
            height: auto;
            content: '';
            position: absolute;
            top: 20px;
            left: 30px;
            background-color: #f6f6f6;
            overflow: hidden;
            padding: 20px;
        }
    }

    &__iconWarp {

        li {
            position: relative;
            padding-left: 35px;

            .sm {
                position: absolute;
                left: 0;
                top: -3px;
            }
        }
    }
}